*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:10px ;
    background: linear-gradient(135deg,#1e7896 , #516369 );

}
.container-1{
    max-width: 700px;
    width: 100%;
    background:#fff;
    color: #212121;
    padding: 25px  30px;
    border-radius: 5px;
}
.container-1 .title{
    font-size:25px ;
    font-weight: 500;
    position: relative;

}
.container-1 .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:linear-gradient(180deg,#1e7896 , #516369) ;
}
.container-1 form .user-deatils{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0 ;
}
form .user-deatils .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-deatils .input-box .details{
    display:block ;
    font-weight: 500px;
    margin-bottom: 5px;

}
.user-deatils .input-box input{
    height:45px ;
    width: 100%;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px ;
}
.input-box .select-el{
    height:45px ;
    width: 100%;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px ;
    font-size:16px ;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-deatils .input-box input:focus,
.user-deatils .input-box input:valid{
    border-color:#1e7896 ;

}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
   margin: 14px 0;
    justify-content: space-between;
}
 .gender-details .category label{
    display: flex;
    align-items: center;
}
 .gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,

#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background:#1e7896;
}

#dot-3:checked ~ .category label .three{

    border-color: #d9d9d9;
    background:#1e7896;
}
form input[type ="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg,#1e7896 , #516369);
    font-size:18px ;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;

}
form .button input:hover{
    background: linear-gradient(-135deg, #1e7896 , #516369);
}

@media(max-width:584px){
    .container-1{
        max-width: 100%;
    
    }
    form .user-deatils .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        
        width: 100%;
    }
    .container-1 form .user-deatils{
        max-height: 300px;
        overflow-y:scroll;
    }
    .user-deatils::-webkit-scrollbar{
        width: 0;
    }
}

.return-home a button{
    padding: 4px;
/*     
    margin-right: 660px; */
    flex-wrap: wrap;
    
    margin-bottom: 600px;
    font-weight: 700;
    cursor: pointer;
    border: 0px #1e7896;
    border-radius: 6.50px;
    overflow: hidden;
    box-sizing: border-box;
  cursor: pointer;
  background-color: #1e7896;
    
    
}
.return-home a button:hover{
    background-color:#212121 ;
    color: #fff;
    cursor: pointer;
    
   
}

p{
    font-weight: 500;
}
h4{
    color: #1e7896;
}